<!DOCTYPE html>
1
1
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-for遍历对象</title>
</head>
<body>

<div id="demo">
  <!--1.遍历对象的过程中,如果只是获取一个值,那么获取到的时value-->
  <ul>
    <li v-for="item in user">{{item}}</li>
  </ul>

  <!--2.获取key和value  (value, key) in user-->
  <ul>
    <li v-for="(value, key) in user">value is : {{value}}, key is : {{key}}</li>
  </ul>

  <!--3.获取key和value还有index 形式: (value, key, index) in user-->
  <ul>
    <li v-for="(value, key, index) in user">value is : {{value}}, key is : {{key}}, index is : {{index}}</li>
  </ul>
</div>
</body>
<script src="js/vue.js"></script>
<script>

  const kapcb = {
    username: 'kapcb',
    password: '123456',
    age: 18,
  }

  let demo = new Vue({
    el: '#demo',
    data: {
      user: kapcb,
    }
  })

  /**
   * 往数组中添加元素
   */
  let array = new Array(1, 2, 3, 4, 5)

  /**
   * 往数组尾部添加一个元素
   */
  array.push(6)

  console.log('the array push result is : ' + array)

  /**
   * 往数组中指定位置添加元素
   * 往数组中第2个元素后面 删除0个元素 添加1
   */
  array.splice(2, 0, 1)

  console.log('the array splice result is : ' + array)

</script>
</html>
