<!DOCTYPE html>
1
1
1
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-model结合radio使用</title>
</head>
<body>

<div id="demo">
  <label for="man">
    <!--给单选框添加name属性, 能够让单选框只能选中一个-->
    <!--当给v-model绑定同一个属性的时候,也会产生互斥的效果-->
    <input type="radio" id="man" value="男" v-model="sex">男
  </label>
  <label for="woman">
    <input type="radio" id="woman" value="女" v-model="sex">女
  </label>
  <p>您选择的性别是 : {{sex}}</p>
</div>
</body>
<script src="js/vue.js"></script>
<script>
  const demo = new Vue({
    el: '#demo',
    data () {
      return {
        /**
         * 给属性赋予初始值, v-model能够在页面初始化的时候显示默认选中的radio
         */
        sex: '男',
      }
    },
  })
  
</script>
</html>
