<!DOCTYPE html>
1
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>watch</title>
</head>
<body>

<div id="demo">
  <h3>这是父组件</h3>
  <h3>data : {{num1}}</h3>
  <h3>data : {{num2}}</h3>
  <hr>
  <cpn :num1="num1" :num2="num2" @input-one="handlerNumberOne" @input-two="handlerNumberTwo"></cpn>
</div>

<template id="cpn">
  <div>
    <h3>这是子组件</h3>
    <h3>props : {{num1}}</h3>
    <h3>props : {{num2}}</h3>
    <h3>data : {{number1}}</h3>
    <h3>data : {{number2}}</h3>
    <input type="text" v-model="number1">
    <input type="text" v-model="number2">
  </div>
</template>
</body>
<script src="js/vue.js"></script>
<script>

  const cpn = {
    template: '#cpn',
    data () {
      return {
        number1: this.num1,
        number2: this.num2,
      }
    },
    props: {
      num1: {
        type: Number,
        required: false,
        default: 1
      },
      num2: {
        type: Number,
        required: false,
        default: 1
      }
    },
    /**
     * watch监听数据的变化
     */
    watch: {
      number1 (newValue) {
        this.num1 = newValue
        this.$emit('input-one', newValue)
      },
      number2 (newValue) {
        this.num2 = newValue
        this.$emit('input-two', newValue)
      }
    }
  }

  const demo = new Vue({
    el: '#demo',
    data: {
      num1: 1,
      num2: 0
    },
    methods: {
      handlerNumberOne (value) {
        this.num1 = parseInt(value)
      },
      handlerNumberTwo (value) {
        this.num2 = parseInt(value)
      }
    },
    components: {
      cpn
    },
  })
</script>
</html>
