<!DOCTYPE html>
1
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>作用域插槽</title>
</head>
<body>

<div id="demo">
  <h3>父组件</h3>
  <hr>
  <cpn>
    <!--目的是为了获取子组件中的programLanguages数据-->
    <template slot-scope="slot">
      <!--slot.data就是在子组件的slot标签中定义的:data中的值-->
      <span v-for="item in slot.data">{{item}}&nbsp;&nbsp;</span>
    </template>
  </cpn>
  <cpn>
    <template slot-scope="sonComponent">
      <ul>
        <li v-for="item in sonComponent.data">{{item}}&nbsp;&nbsp;</li>
      </ul>
    </template>
  </cpn>
  <cpn-two>
    <template slot-scope="param">
      <ul>
        <li v-for="item in param.param">{{item}}&nbsp;&nbsp;</li>
      </ul>
    </template>
  </cpn-two>
  <cpn-two>
    <template slot-scope="param">
      <span>{{param.param.join(' ,')}}</span>
    </template>
  </cpn-two>
</div>

<template id="cpn">
  <div>
    <h3>子组件</h3>
    <slot :data="programLanguages"></slot>
  </div>
</template>

<template id="cpnTwo">
  <div>
    <h3>子组件二</h3>
    <slot :param="param"></slot>
  </div>
</template>
</body>
<script src="js/vue.js"></script>
<script>

  /**
   * 父组件替换插槽的标签, 但是内容由子组件来提供
   * 比如:
   * 子组件中包括一组数据, 比如: programLanguages:['Java','JavaScript','Python','Swift','Go','C#']
   * 需要在多个界面进行展示
   *  - 某些界面是水平方向--展示的
   *  - 某些界面是以列表形式展示的
   *  - 某些界面直接展示一个数组
   * 内容在子组件中, 希望父组件告诉我们如何展示, 利用slot作用域插槽就可以
   */
  const demo = new Vue({
    el: '#demo',
    components: {
      cpn: {
        template: '#cpn',
        data () {
          return {
            programLanguages: ['Java', 'JavaScript', 'Python', 'Swift', 'Go', 'C#'],

          }
        },
      },
      cpnTwo: {
        template: '#cpnTwo',
        data () {
          return {
            param: ['钢铁侠', '蜘蛛侠', '闪电侠', '蝙蝠侠']
          }
        }
      },
    },
  })
  
  
</script>
</html>
