<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ShoppingCar</title>
  <link rel="stylesheet" href="shoppingCar.css">
  <script src="../js/vue.js"></script>
</head>
<body>

<div id="shopping-car">
  <div v-if="books.length">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>书籍名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item ,index) in books" :key="index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.publishTime}}</td>
        <!--数字的 toFixed(需要保留的位数)-->
        <!--<td>{{_getFinalPrice(item.price)}}</td>-->
        <td>{{item.price | showPrice}}</td>
        <td>
          <button @click="_increaseCount(index)">+</button>
          {{item.count}}
          <!--:disabled 当数量减少为0时,禁用按钮点击,禁止交互-->
          <button @click="_decreaseCount(index)" :disabled="item.count <= 1">-</button>
        </td>
        <td>
          <button @click="_remove(index)">移除</button>
        </td>
      </tr>
      </tbody>
    </table>
    <h2>总价格:{{totalPrice}}</h2>
  </div>
  <h4 v-else=>购物车为空!</h4>
</div>
<script src="main.js"></script>
</body>
</html>